<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column container-fluid">
  <header class="container-fixed masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand text-center">Авто мийка</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" routerLink="/">Головна</a>
        <a class="nav-link" routerLink="/services">Послуги</a>
        <a class="nav-link" routerLink="/contacts">Контакти</a>
      </nav>
    </div>
  </header>
  <div class='container main-container text-center' >
    <router-outlet></router-outlet>
  </div>
  <footer class="text-center mastfoot mt-auto">
    <div class="inner">
      <p>&copy;CarServe</p>
    </div>
  </footer>
</div>